.alert-group {
	--gap: 1rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	position: fixed;
	gap: var(--gap);
	z-index: 100;
	font-family: sans-serif;
	overflow: hidden;
	padding-right: var(--gap);
	padding-bottom: var(--gap);
	pointer-events: none;

	// for now
	inset: auto 0 0 auto;

	@media (max-width: 430px) {
		inset: auto 0 0 0;
	}
}

.alert {
	box-sizing: border-box;
	line-height: 1.4;
	position: relative;
	display: flex;
	pointer-events: auto;
	align-items: center;
	gap: 1rem;
	width: fit-content;
	max-width: 30rem;
	background-color: var(--alr-bg);
	color: var(--alr-clr);
	border: 1px solid var(--alr-brd);
	border-radius: 0.25rem;
	will-change: transform, opacity;
	transition: box-shadow 0.15s ease-in-out;

	&:hover {
		box-shadow: var(--shadow-elevation-medium);
	}

	&__message {
		max-width: 18.75rem;
	}

	&.with-progress::after {
		content: "";
		display: block;
		position: absolute;
		inset: auto 0 0 0;
		height: 0.25rem;
		background-color: var(--alr-prog);

		transform: scaleX(0);
	}
}
